@import '../../../styles/variables.scss';

.card-movie {
  position: relative;
  height: 260px;
  cursor: pointer;

  .image-card-container {
    position: absolute;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media(max-width: $min) {
  .card-movie {
    height: 220px;
  }
}

@media(min-width: $large){
  .card-movie {
    height: 150px;
  }
}

@media(min-width: $xlarge){
  .card-movie {
    height: 200px;
  }
}
