@import '../../../styles/variables.scss';

footer {
  .container {
    background-color: $black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0.5rem 0;
    max-width: 1400px;
    width: 100%;

    .first-section {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .contact {
        display: flex;

        .phone-info {
          margin-right: 0.5rem;

          strong {
            font-weight: bold;
          }
        }
        a {
          color: $white;
          margin-right: 0.5rem;
          font-size: 0.9rem;
        }
      }

      .footer-links {
        text-align: left;
        margin: 0.5rem 0;
        a {
          color: $white;
          margin-right: 0.5rem;
          font-size: 0.7rem;
        }
      }
    }

    .second-section {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .social {
        a {
          margin-left: 0.5rem;
        }
      }

      .footer-links {
        text-align: left;
        margin: 0.5rem 0;
        a {
          color: $white;
          margin-left: 0.5rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}
