@import '../../../styles/variables.scss';

footer {
  .container {   background-color: $black;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5rem 0;
    max-width: 1400px;

    .first-section {
      .contact {
        display: none;
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          color: $white;
          margin: 1rem auto;
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }

    .second-section {
      .social {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
        margin-top: 1rem;

        a {
          margin: auto 1rem;        }
      }

      .footer-links {
        display: none;
      }
    }
  }
}

@media (min-width: $medium) {
  footer {
    .container {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .first-section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .contact {
          display: flex;

          .phone-info {
            margin-right: 0.5rem;

            strong {
              font-weight: bold;
            }
          }
          a {
            color: $white;
            margin: 0;
            margin-right: 0.5rem;
            font-size: 0.9rem;
          }
        }

        .footer-links {
          flex-direction: row;
          text-align: left;
          margin: 0.5rem 0;
          a {
            color: $white;
            margin-right: 0.5rem;
            font-size: 0.7rem;
            text-decoration: underline;
          }
        }
      }

      .second-section {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .social {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          a {
            margin-left: 1rem;
          }
        }

        .footer-links {
          display: inherit;
          text-align: left;
          margin: 1rem 0;
          a {
            color: $white;
            margin-left: 0.5rem;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
