@import '../../../styles/variables.scss';

.movies-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 2rem auto;
  width: 90%;
}

@media(min-width: $medium){
  .movies-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
  }
}

@media(min-width: $xxxlarge){
  .movies-layout {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5rem;
  }
}

